<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
<div class="navbar navbar-inverse" role="navigation" style="background-color: rgb(241, 248, 247);border: none;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: black;font-family: 'Monoton', cursive; font-size: 30px;color: rgb(9, 94, 173) ;" href="/">News-App </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a style="color: black;font-weight: bold;" href="/">Home</a></li>
        </div>

    </div>
</div>